.card
  width: 30%
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4)
  margin: 20px

  .card-header
    display: flex
    background-color: #920505
    justify-content: center

  .card-title
    color: white
    margin: 0

  .info

    .embajadores
      margin: 10px

    .embajadores-list
      list-style: none
      color: black

    .card-title
      color: black

    .card-text
      color: black

    .integrantes
      margin: 10px

    .integrantes-list
      color: black
      list-style: none
