<div class="card">
  <img src="assets/images/flags/4x3/argentina.svg" class="card-img-top" alt="">
  <div class="card-header">
    <h5 class="card-title">ARGENTINA</h5>
  </div>
  <div class="card-body">
    <div class="info">
      <div class="embajadores">
        <h5 class="card-text">Embajadores:</h5>
        <li class="embajadores-list">Embajador 1</li>
        <li class="embajadores-list">Embajador 2</li>
      </div>
      <div class="integrantes">
        <h5 class="card-text">Integrantes:</h5>
        <li class="integrantes-list">Alumno1</li>
        <li class="integrantes-list">Alumno2</li>
        <li class="integrantes-list">Alumno2</li>
        <li class="integrantes-list">...</li>
      </div>
    </div>
  </div>
</div>
