<div class="card">
    <img src="assets/images/flags/argentina.png" class="card-img-top">
    <div class="card-body">
      <div class="info">
        <h5 class="card-title">ARGENTINA</h5>
        <p class="card-text">Embajadores:</p>
        <p class="card-text">Integrantes:</p>
            <li class="integrantes">Alumno1</li>
            <li class="integrantes">Alumno2</li>
            <li class="integrantes">Alumno2</li>
            <li class="integrantes">...</li>
      </div>
    </div>
  </div>