<div class="card">
  <img src="assets/images/flags/4x3/{{equipo.pais.flagImage}}" class="card-img-top" alt="">
  <div class="card-header">
    <h5 class="card-title">{{equipo.pais.nombre}}</h5>
  </div>
  <div class="card-body">
    <div class="info">
      <div class="embajadores">
        <h5 class="card-text">Embajadores:</h5>
        <li class="embajadores-list">{{equipo.embajador}}</li>
      </div>
      <div class="pilotos">
        <h5 class="card-text">Pilotos:</h5>
        <li class="embajadores-list">{{equipo.piloto}}</li>
      </div>
      <div class="integrantes">
        <h5 class="card-text">Integrantes:</h5>
        <div class="integrantes" *ngFor="let integrante of equipo.tripulacion">
          <li class="embajadores-list">{{integrante}}</li>
        </div>
      </div>
    </div>
  </div>
</div>
