$primary-color: #920505

nav
  display: flex
  justify-content: space-around
  align-items: center
  min-height: 6vh
  background-color: #920505

  .navbar-brand
    color: white

  .nav-link
    color: white
    text-align: center

  .nav-link:hover
    color: blue

  .navbar-brand:hover
    color: blue

  .navbar-toggler
    color: white

  .navbar-toggler-icon .span
    color: white

  .burger
    padding: 1px
    background-color: white
    margin-bottom: 33%

