<div class="reglamento">
  <div class="secondary-color-div">
    <h3>ARTICULO N°1</h3>
    <p>Las disposiciones de este Reglamento regirán en el establecimiento
      del Instituto Técnico Salesiano Villada en lo que concierne a la administración,
      funcionamiento y desarrollo de la Auténtica "Fiesta de Maria Auxiliadora", no podrá
      restringirse, ni suspenderse, sino en los casos y con las condiciones que ella misma
      establece.</p>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°2</h3>
    <p>Para los efectos del presente Reglamento se entiende:</p>
    <li>FIESTA: Se refiere al evento anual cuyo día principal es el 24 de mayo, con
      denominación oficial de "Fiesta de Maria Auxiliadora".
    </li>
    <li>ISLAS: A las zonas destinadas a las actividades recreativas grupales que se
      realizarán en el evento.
    </li>
    <li>OASIS: A las zonas destinadas a las actividades recreativas individuales que
      se realizarán en el evento. Y además de ser una zona segura para los
      participantes.
    </li>
    <li>AVIONES: Al objeto en el cual se trasladan los participantes de cada equipo.</li>
    <li>AEROPUERTO: A la zona en la cual aterrizan los aviones cuando se lo
      necesite.
    </li>
    <li>COMBUSTIBLE: A la moneda que se utilizara en el evento.</li>
    <li>MERCADO NEGRO: A la zona en la cual se realizaran intercambios propios
      de la tematica del evento.
    </li>
    <li>PARTICIPANTES: A las personas físicas que participan de la Fiesta de Maria
      Axiliadora.
    </li>
    <li>EMBAJADORES: Al personal docente que acompañará en el desarrollo de la
      Fiesta de Maria Axiliadora.
    </li>
    <li>ADUANEROS: a las personas físicas que tienen como rol el de capturar a los
      participantes que ronden por el evento sin estar dentro de su avión o
      realizando alguna actividad individual.
    </li>
    <li>ISLA DE COMERCIO: A la zona específica en la cual se realizará el servicio
      de mercado en el evento.
    </li>
    <li>PRISIÓN: A la zona en la cual se podrá retener a participantes del evento
      que no estén realizando alguna actividad.
    </li>
    <li>TESORERÍA: A la organización que gestiona las finanzas de la Fiesta.</li>
    <li>STAFF: A las personas físicas que realizan el proceso de gestión y orden en
      las actividades de la Fiesta de Maria Axiliadora.
    </li>
    <li>REGLAMENTO: Al presente Reglamento.</li>
  </div>
  <div class="secondary-color-div">
    <h3>ARTICULO N°3</h3>
    <p>La aplicación del presente Reglamento está encomendada a:
      I. El Centro de Estudiantes del Colegio ITS Villada y Staff.</p>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°4</h3>
    <p>Los integrantes del centro de estudiantes y staff del colegio ITS
      Villada, cumplirán única y exclusivamente funciones que se encuentren en el
      presente reglamento para/con la Institución, por lo que en ningún momento tendrán
      facultades o serán consideradas autoridades.</p>
  </div>
  <div class="secondary-color-div">
    <h3>ARTICULO N°5</h3>
    <p>Su vigencia regirá sólo durante la inauguración, período de
      celebración de la "Fiesta de Maria Auxiliadora" y su desmantelamiento total.
      Ninguna actividad de las que este Reglamento precisa, podrán ser ajenas a las
      condiciones y normas que éste mismo contiene y señala.</p>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°6</h3>
    <p>La tesorería del Centro de Estudiantes administra los ingresos por la
      venta de la “Isla de Comercio” que recaudan los integrantes del centro, profesores y
      staff.</p>
  </div>
  <div class="secondary-color-div">
    <h3>ARTICULO N°7</h3>
    <p>Los participantes y staff, al participar del evento, declaran conocer
      sus derechos y obligaciones explicitadas en el presente reglamento.</p>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°8</h3>
    <p>Las actividades que se realicen en el evento serán coordinadas por
      profesores y staff del centro de estudiantes, dando facultades a los coordinadores
      de penalizar a los participantes que estén realizando alguna actividad ilícita para/con
      el evento.</p>
  </div>
  <div class="secondary-color-div">
    <h3>ARTICULO N°9 - TEMATAICA</h3>
    <p>La temática de la “Fiesta de Maria Auxiliadora” es de la “Copa Mundial de la FIFA
      Qatar 2022”</p>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°10 - EQUIPOS</h3>
    <p>La división de grupos para la organización de los participantes de cada país será
      aleatoria conformando 32 equipos (16 de ciclo básico y 16 del ciclo orientado). Y los
      encargados de realizarla serán el centro de estudiantes del ITS Villada.</p>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°10 BIS 1</h3>
    <p>Los participantes serán representados con sus stickers
      representativos de cada país.</p>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°10 BIS 2</h3>
    <p>Todo avión deberá tener a su embajador que tomará el rol un
      profesor o en su defecto un personal del staff.</p>
  </div>
  <div class="secondary-color-div">
    <h3>ARTICULO N°11 - CAMPO DE JUEGO</h3>
    <p>El evento dividirá al terreno del colegio en dos, dejando de un lado a las islas
      destinadas al ciclo básico y del otro lado al ciclo orientado.</p>
    <div class="image-caontainer">
      <img src="assets/images/map/map.jpg" class="responsive-img" alt="">
    </div>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°12 - ENFRENTAMIENTOS</h3>
    <p>En las islas de enfrentamientos grupales se enfrentarán 2 países y solo uno podrá
      salir triunfador. El equipo ganador se llevará la recompensa. Para que los
      enfrentamientos sean posibles, los aviones deberán tener 10 participantes.</p>
  </div>
  <div class="secondary-color-div">
    <h3>ARTICULO N°13 - ISLAS</h3>
    <table class="light-table">
      <th class="light-th">ISLAS</th>
      <th class="light-th">UBICACION</th>
      <th class="light-th">REGLAS</th>
      <tr>
        <td class="light-td">1. Llevar la pelota</td>
        <td class="light-td">Isla 1 (Segundo Ciclo)
          Isla 1 (Primer Ciclo)
        </td>
        <td class="light-td">Se les entregarán al equipo elementos mediante los cuales deberán
          transportar una pelota hacia un recipiente, el primer equipo que lo consiga,
          se llevará el premio, si la pelota se cae, los participantes deberán volver al
          punto de salida nuevamente y comenzar de nuevo.
        </td>
      </tr>
      <tr>
        <td class="light-td">2. Puntería con
          buluquera
        </td>
        <td class="light-td">Isla 2 (Segundo Ciclo)
          Isla 3 (Primer Ciclo)
        </td>
        <td class="light-td">Al equipo se le entregarán buluqueras mediante las cuales deberán derribar
          una torre de vasos, se lanzará desde 4 metros y el primer equipo que derribe
          todos los vasos se llevara la victoria
        </td>
      </tr>
      <tr>
        <td class="light-td">3. Carreras con bolsas arpilleras</td>
        <td class="light-td">Isla 3 (Segundo Ciclo)
          Isla 5 (Primer Ciclo)
        </td>
        <td class="light-td">Se le entregará 1 bolsa al equipo, deberán recorrer una distancia de 10 metros, salir de la
          bolsa,
          llevársela a su compañero para que repita esto con los 12 participantes, el primer equipo en terminar, se
          llevará la victoria.
        </td>
      </tr>
      <tr>
        <td class="light-td">4. Skyes</td>
        <td class="light-td">Isla 4 (Segundo Ciclo)
          Isla 8 (Primer Ciclo)
        </td>
        <td class="light-td">Los participantes deberán colocarse en los skyes, recorrerán una distancia de 8 metros y
          deberán retirarse los para llevárselo y entregárselo a 4 más del grupo, el primer equipo que logre que todos
          sus participantes crucen, se llevará la victoria.
        </td>
      </tr>
      <tr>
        <td class="light-td">5. Carreras ruedas con piloto</td>
        <td class="light-td">Isla 5 (Segundo Ciclo)
        </td>
        <td class="light-td">Uno de los integrantes del equipo se subirá al neumático y los otros deberán tirar de él
          para llegar al
          punto designado para ello.
        </td>
      </tr>
      <tr>
        <td class="light-td">6. Lanzamiento de aro a palo</td>
        <td class="light-td">Isla 6 (Segundo Ciclo)
          Isla 4 (Primer Ciclo)
        </td>
        <td class="light-td">Se les entregará al equipo aros y deberán embocarlos en los elementos designados, se
          contará y el equipo que
          más haya embocado en el tiempo designado, será el ganador.
        </td>
      </tr>
      <tr>
        <td class="light-td">7. Guerra naval</td>
        <td class="light-td">Isla 7 (Segundo Ciclo)
          Isla 7 (Primer Ciclo)
        </td>
        <td class="light-td">Se colocará un equipo enfrente del otro separados por una bandera, el equipo que comience
          lanzará una pelota
          por encima de la bandera intentando que le caiga a los participantes del equipo enemigo si la pelota toca a
          los participantes del equipo enemigo, éste quedará eliminado, y asi viceversa, el primer equipo que elimine a
          los jugadores del equipo contrario será el ganador.
        </td>
      </tr>
      <tr>
        <td class="light-td">8. Catapulta a embocar</td>
        <td class="light-td">Isla 8 (Segundo Ciclo)
        </td>
        <td class="light-td">Los equipos tendrán una catapulta la cual lanzarán una pelota a un cesto, se contarán la
          cantidad de
          embocadas en un cierto periodo de tiempo y cuando este termine el que más embocadas haya hecho, será el
          ganador.
        </td>
      </tr>
      <tr>
        <td class="light-td">9. Cruzar los mares</td>
        <td class="light-td">Isla 2 (Primer Ciclo)
        </td>
        <td class="light-td">A los participantes se les entregarán tablas que deberán cruzar el mar lanzando y
          subiéndose encima para
          después buscar la tabla anterior y así continuar hasta llegar al punto de llegada con todo el equipo. El
          primero equipo que llegue será el que gane el enfrentamiento.
        </td>
      </tr>
      <tr>
        <td class="light-td">10. Imita la figura</td>
        <td class="light-td">Isla 6 (Primer Ciclo)
        </td>
        <td class="light-td">El equipo deberá copiar la figura/foto que le muestre el staff de la isla, y habrá un
          profesor que decidirá
          cuál es el ganador de la imitación. Se hará al mejor de 3 y el ganador se llevará la parte del avión.
        </td>
      </tr>
    </table>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°14 - OASIS</h3>
    <p>En las islas individuales los integrantes de los países podrán ganar recompensas por sí mismos. Al realizar con
      éxito la actividad propuesta se llevarán una recompensa.</p>
    <table class="dark-table">
      <th class="dark-th">OASIS</th>
      <th class="dark-th">UBICACIÓN</th>
      <th class="dark-th">REGLAS</th>
      <tr>
        <td class="dark-td">
          PENALES
        </td>
        <td class="dark-td">
          CANCHA DE HANDBALL
        </td>
        <td class="dark-td">Sin distancia, al mejor de 5 (1 ataja, el otro patea y viceversa)</td>
      </tr>
      <tr>
        <td class="dark-td">
          WORDLE FÍSICO
        </td>
        <td class="dark-td">
          PASILLO AL LADO DE LA SALA DEL CENTRO.
        </td>
        <td class="dark-td">Actividad realizada en base al juego virtual WORDLE en el cual tienes que escribir una
          palabra y ver las
          letras que has acertado, que tendrán diferente color dependiendo de si acertaste: Si la letra aparece en
          verde, es porque la has acertado y está en la palabra, y también está en la casilla correcta de la palabra.
          JUEGO INDIVIDUAL, NO COMPETITIVO
        </td>
      </tr>
      <tr>
        <td class="dark-td">
          PREGUNTAS DE CULTURA GENERAL
        </td>
        <td class="dark-td">
          CANCHA DE SOFTBALL
        </td>
        <td class="dark-td">1 VS 1 en el cual se realizaran 5 preguntas a cada uno, el que acierta más gana.
        </td>
      </tr>
      <tr>
        <td class="dark-td">
          BEER PONG
        </td>
        <td class="dark-td">
          AL FRENTE DE 5 "C"
        </td>
        <td class="dark-td">6 vasos, cuando se emboca se saca el vaso. el que se queda sin vasos pierde</td>
      </tr>
      <tr>
        <td class="dark-td">
          METEGOL
        </td>
        <td class="dark-td">
          AL LADO DE LA FUENTE, AL LADO DE LA ESCALERA
        </td>
        <td class="dark-td">1 vs 1, a 5 goles vale remolinete pero no saque con efecto</td>
      </tr>
      <tr>
        <td class="dark-td">
          TATETI PELOTA(CON MANO)
        </td>
        <td class="dark-td">
          EN EL PLAYÓN DEL COLEGIO
        </td>
        <td class="dark-td">TaTeTi, lanzando una pelota y eligiendo dónde colocar tu ficha. A 1 SOLO PARTIDO</td>
      </tr>
      <tr>
        <td class="dark-td">
          PING PONG
        </td>
        <td class="dark-td">
          EN EL SALÓN DE ACTOS
        </td>
        <td class="dark-td">a 7 una sola diferencia</td>
      </tr>
      <tr>
        <td class="dark-td">
          PATA TENIS
        </td>
        <td class="dark-td">
          A LA IZQUIERDA DE LA PISTA DE ATLETISMO
        </td>
        <td class="dark-td">A 5, el que hace un punto</td>
      </tr>
    </table>
  </div>
  <div class="secondary-color-div">
    <h3>ARTICULO N°15 - MAPA INTERACTIVO</h3>
    <p>Todos las zonas especiales se podran localizar gracias al mapa interactivo que se encuentra en el siguiente
      link:</p>
    <a href="https://view.genial.ly/627479b0b6f6cf00130b625a/interactive-content-mapa-interactivo">MAPA INTERACTIVO</a>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°16 - PAISES</h3>
    <table class="dark-table">
      <th class="dark-th">PAIS</th>
      <th class="dark-th">EMBAJADOR</th>
      <tr>
        <td class="dark-td">ARGENTINA</td>
        <td class="dark-td">Federico Ferraro</td>
      </tr>
      <tr>
        <td class="dark-td">URUGUAY</td>
        <td class="dark-td">Cintia Lezcano</td>
      </tr>
      <tr>
        <td class="dark-td">ALEMANIA</td>
        <td class="dark-td">Ethel Gigena</td>
      </tr>
      <tr>
        <td class="dark-td">JAPÓN</td>
        <td class="dark-td">Josefina Luque</td>
      </tr>
      <tr>
        <td class="dark-td">MÉXICO</td>
        <td class="dark-td">Javier Bassotti</td>
      </tr>
      <tr>
        <td class="dark-td">CROACIA</td>
        <td class="dark-td">Guillermo Bustos</td>
      </tr>
      <tr>
        <td class="dark-td">COLOMBIA</td>
        <td class="dark-td">Monica Flores</td>
      </tr>
      <tr>
        <td class="dark-td">BRASIL</td>
        <td class="dark-td">Gustavo Funes</td>
      </tr>
      <tr>
        <td class="dark-td">PERÚ</td>
        <td class="dark-td">Ricardo Pereyra</td>
      </tr>
      <tr>
        <td class="dark-td">IRÁN</td>
        <td class="dark-td">Dario Bongiovani</td>
      </tr>
      <tr>
        <td class="dark-td">FRANCIA</td>
        <td class="dark-td">Jesus Vila</td>
      </tr>
      <tr>
        <td class="dark-td">ESPAÑA</td>
        <td class="dark-td">Magdalena Buldrini</td>
      </tr>
      <tr>
        <td class="dark-td">RUSIA</td>
        <td class="dark-td">Sol Maidana</td>
      </tr>
      <tr>
        <td class="dark-td">EGIPTO</td>
        <td class="dark-td">Pablo Crivello</td>
      </tr>
      <tr>
        <td class="dark-td">QATAR</td>
        <td class="dark-td">Agustin Agüero</td>
      </tr>
      <tr>
        <td class="dark-td">ECUADOR</td>
        <td class="dark-td">Juan Fernández</td>
      </tr>
      <tr>
        <td class="dark-td">PORTUGAL</td>
        <td class="dark-td">Dario Cordoba</td>
      </tr>
      <tr>
        <td class="dark-td">POLONIA</td>
        <td class="dark-td">Luciano Michalik</td>
      </tr>
      <tr>
        <td class="dark-td">BÉLGICA</td>
        <td class="dark-td">Eugenia Hazebrouck</td>
      </tr>
      <tr>
        <td class="dark-td">ESTADOS UNIDOS</td>
        <td class="dark-td">Juan Ignacio Lopez</td>
      </tr>
      <tr>
        <td class="dark-td">INGLATERRA</td>
        <td class="dark-td">Elisa Romero</td>
      </tr>
      <tr>
        <td class="dark-td">HOLANDA</td>
        <td class="dark-td">Juan Frattin</td>
      </tr>
      <tr>
        <td class="dark-td">ARABIA SAUDITA</td>
        <td class="dark-td">Diego Porrini</td>
      </tr>
      <tr>
        <td class="dark-td">DINAMARCA</td>
        <td class="dark-td">Ruben Arce</td>
      </tr>
      <tr>
        <td class="dark-td">GHANA</td>
        <td class="dark-td">Hernan Martinez</td>
      </tr>
      <tr>
        <td class="dark-td">SENEGAL</td>
        <td class="dark-td">Silvia Blazer</td>
      </tr>
      <tr>
        <td class="dark-td">CANADÁ</td>
        <td class="dark-td">Nicolas Sponton</td>
      </tr>
      <tr>
        <td class="dark-td">SUIZA</td>
        <td class="dark-td">Diego Agostini</td>
      </tr>
      <tr>
        <td class="dark-td">SERBIA</td>
        <td class="dark-td">Gabriela Arguello</td>
      </tr>
      <tr>
        <td class="dark-td">CAMERÚN</td>
        <td class="dark-td">Juan Pablo Carta</td>
      </tr>
      <tr>
        <td class="dark-td">COREA DEL SUR</td>
        <td class="dark-td">Gabriel Muñoz</td>
      </tr>
      <tr>
        <td class="dark-td">TÚNEZ</td>
        <td class="dark-td">Ariel Farias</td>
      </tr>
    </table>
  </div>
  <div class="secondary-color-div">
    <h3>ARTICULO N°17 - AVION</h3>
    <p>En el evento, cada país tendrá su respectivo avión y todos los participantes deberán moverse con él, cada avion
      se dirigirá a las islas de enfrentamientos grupales que se podrán ver en el mapa interactivo, cada país, para
      comenzar el enfrentamiento con el país contrincante, debe tener mínimo, 10 participantes (sin contar al
      embajador), además, los participantes que no estén en el avión tendrán la posibilidad de ganar combustible en los
      oasis de desafíos independientes.</p>
  </div>
  <div class="secondary-color-div">
    <h3>ARTICULO N°17 BIS 1</h3>
    <li>Si un pais gana un enfrentamiento en una isla, se le entregara una pieza del avion, si el pais ya tiene sus 5
      piezas correspondientes (dos ruedas traseras, la rueda delantera, el ala y el alerón) , puede seguir obteniendo
      piezas que luego podra vender en el Mercado Negro.
    </li>
    <li>Ser puntual en los enfrentamientos en islas. Caso contrario se le considerará ganador al equipo que haya
      cumplido con el horario propuesto en las bitácoras.
    </li>
    <li>Si un participante gana un desafío en un oasis, se le entregará 1 litro de combustible al país.</li>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°18 - VALORES DEL MERCADO NEGRO</h3>
    <li>VENTA: 10l de combustible</li>
    <li>COMPRA: 15l de combustible</li>
  </div>
  <div class="secondary-color-div">
    <h3>ARTICULO N°19 - ADUANEROS</h3>
    <p>Los aduaneros tienen la facultad de capturar a los participantes que ronden por el evento sin estar dentro de su
      avión o realizando alguna actividad individual en los oasis. Estos deberán ser llevados a las prisiones. En las
      cuales se retendrá al participante por 3 minutos.</p>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°20 - ISLA DE COMERCIO</h3>
    <p>La isla de comercio será atendida por parte del staff del centro de estudiantes.</p>
  </div>
  <div>
    <h3>ARTICULO N°21 - HORARIOS DE LA FIESTA</h3>
    <p>El evento se dividirá en cuatro momentos:</p>
    <p>I. __ 9:45 a 12:30 __ En el primer momento se realizarán los enfrentamientos grupales en las “Islas” para
      conseguir partes del avión, con posibilidad de que los participantes realicen actividades individuales en los
      “Oasis” con el fin de ganar combustible. Los enfrentamientos terminan a las 12:30.</p>
    <p>II. __ 12:30 a 13:30 __ En el segundo momento se abrirá el comedor y todos los participantes deberán dejar su
      respectivo avión en el aeropuerto. Los enfrentamientos grupales habrán terminado, pero los enfrentamientos
      individuales seguirán disponibles para que los participantes puedan conseguir combustible para su país.</p>
    <p>III. __ 13:30 a 14:30 __ En el tercer momento se realizará la cacería, donde los países tendrán tres misiones que
      los países que mejor la realicen, serán los que conseguirán recompensas de combustible. En esta misión tendrán que
      buscar el motor de la fiesta, que si se da el caso que no lo consiguen, no podrán llegar a la final.</p>
    <p>IV. __ 14:30 a 15:30 __ Se realizará el evento “El baile del arabe” en el cual los países deberán realizar una
      actividad sorpresa del evento.</p>
    <p>V. __ 15:30 a 16:00 __
      Final del evento con actividades en escenario y otras tareas recreativas.
    </p>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°22 - LA FINAL</h3>
    <p>Para que un país llegue a la final, deberá contar con:</p>
    <li>El fuselaje del avión con su respectiva bandera.</li>
    <li>Las 5 piezas correspondientes (dos ruedas traseras, la rueda delantera, el ala y el alerón.</li>
    <li>El podio de 3 en cantidad de combustible, es decir ser uno de los 3 mejores países en combustible.</li>
    <li>El motor de la “Fiesta de Maria Auxilliadora”.</li>
  </div>
  <div class="secondary-color-div">
    <h3>ARTICULO N°23 - GANADORES</h3>
    <p>Los que cuenten con los anteriores puntos nombrados en el Artículo 22° llegaran a la final y deberán realizar “El
      baile del Arabe”. Existirá un jurado compuesto por 3 profesores del ITS Villada que decidirán cual es el mejor
      “Baile del Arabe” (uno para cada ciclo), y se le entregará el pasaporte a ese país para consagrarse ganador y
      viajar a Qatar.</p>
  </div>
  <div class="primary-color-div">
    <h3>ARTICULO N°24 - FINAL DEL EVENTO</h3>
    <p>Al final del evento, todos los paises deberan tener su bandera, que se le entregara al principio, y todas las
      piezas del avión: dos ruedas traseras, la rueda delantera, el ala y el alerón (en total 5) independientemente de
      los litros de combustible que hayan obtenido, si no logra conseguir las 5 piezas del avión y tener su bandera, no
      podrá competir para la victoria por puntos. </p>
  </div>
</div>
