<div class="card">

  <div class="card-header">
    <div class="header">
      <img class="icon" src="assets/images/flags/1x1/argentina.svg">
      <h5 class="title">{{puntaje.pais}}</h5>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title text">Partes del Avion:</h4>
    <p class="card-text text">Fuselaje: {{puntaje.fuselaje}}</p>
    <p class="card-text text">Alas: {{puntaje.alas}}</p>
    <p class="card-text text">Ruedas: {{puntaje.ruedas}}</p>
    <p class="card-text text">Cola: {{puntaje.cola}}</p>
  </div>
</div>
